@{
    IDocument tags = OutputPages.Get("tags.html");
	IDocument posts = OutputPages.Get("posts.html");
}

<ul class="navbar-nav ml-auto">
    
	<li class="nav-item"><a class="nav-link" href="@tags.GetLink()"><i class="fa fas fa-tags"></i> Tags</a></li>
    <li class="nav-item"><a class="nav-link" href="@posts.GetLink()"><i class="fa fas fa-archive"></i> Posts</a></li>
	
</ul>